h1, h2, h3, head, footer, p {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 0;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

body{
    background-color: black;
    color: white;
    font-size: 3em;
}

a:visited {
    color: red;
}

a:active {
    color:darkslategrey;
}

hr {
    background-color: purple;
    border-color: aqua;
}

button, a.button {
    border-color: white;
    border-radius: 5em;
    border-width: 1rem;
    min-height: 4em;
    min-width: 4em;
    background-color: rgb(13, 39, 87);
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    justify-content: center;
}

button:hover {
    cursor: pointer;
}