h1, h2, head, footer {
    text-align: center;
    padding-top: 5%;
    margin-top: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

body{
    background-color: aqua;
    color: purple;
    font-size: large;
}

a:visited {
    color: red;
}

a:active {
    color:darkslategrey;
}

hr {
    background-color: purple;
    border-color: aqua;
    height: 5px;
}